body{
background:#0f172a;
color:white;
font-family:Arial;
text-align:center;
}

header{
background:#111827;
padding:20px;
font-size:28px;
}

table{
margin:auto;
width:80%;
border-collapse:collapse;
}

th{
background:#1f2937;
padding:15px;
}

td{
padding:12px;
border-bottom:1px solid #374151;
}

tr:hover{
background:#1e293b;
}